.index {
    display: flex;
    flex-direction: column;
    width: 100%; 
    // .image{  
    //     width: 99%;
    //     height: 200PX;
    //     .oneCol{
    //         margin-top: 45PX;
    //         margin-left: 7PX;
    //         border-style: solid;
    //         width: 45%;
    //         border-color: #3f6600;
    //         float: left;
    //     }
    //     .twoCol{
    //         margin-top: 45PX;
    //         margin-right: 7PX;
    //         border-style: solid;
    //         width: 45%;
    //         border-color: #f5222d;
    //         float: right;
    //     }
    // }
}
