.content {
  display: flex;
  flex-direction: column;
  height: 30vh;
  position: relative;
  top: -8%;
  .tip {
    //  background-color: #f0f5ff;  
    display: flex;
    flex-direction: column;
    width: 10%;
    align-items: center;
    margin-left: 10%;
    //  height: 18vh;
    .tip1 {
      color: #e6f7ff;
      margin-top: auto;
      margin-bottom: auto;
      font-size: 6vh;
      flex-grow: 1;
      height: 10vh;
    }
    .tip2 {
     color: #adc6ff;
      margin-top: auto;
      margin-bottom: auto;
      font-size: 6vh;
      flex-grow: 1;
      height: 10vh;
      // background-color: #f759ab;
    }
  }
  .mood {
    //   background-color: #d3adf7;  
    display: flex;
    font-size: large;
    width: 80%;
    flex-grow: 1;
    height: 20vh;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
}
